@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(https://fonts.googleapis.com/css2?family=Open+Sans&display=swap);
}

* {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
}

.title {
	color: black;
	text-align: center;
	font-size: 3rem;
}

body {
	background: lightgrey;
	min-height: 100vh;
}

.button-box {
    margin-left: 495px;
    margin-top: 30px;
    margin-bottom: 170px;
}

button {
    margin-right: 20px;
    width: 150px;
    height: 73px;
}

.redirect-button {
	display: flex;
    flex-direction: row;
}

.contact button {
    position: absolute;
    margin-left: 495px;
    margin-top: -170px;
    height: 35px;
    width: 325px;
}

/* heart icon css */
.like-image {
	width: 50px;
	position: absolute;
	top: 0%;
}
.like-container {
	position: relative;
	width: max-content;
	max-width: 100%;
}

/* navigation bar */
.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
	background-color: lightgray;
	color: black;
}

.navbar a {
	text-decoration: none;
	margin-right: 10px;
	color: black;
}

.navbar-left {
	color: black;
	text-decoration: none;
	margin-right: 10px;
	display: block;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 20px;
}

.navbar-left a {
	padding-left: 15px;
}

.navbar img {
	max-width: 50px;
	height: auto;
}

.navbar-right {
	float: right;
  }

.navbar-left a:hover,
.navbar-left a:focus,
.navbar-left a:active {
	color: #434242;
}

/* heading edits for profile*/

.user {
	position: relative;
	display: flex;
	justify-content: center;
	left: 5%;
}

.avi-edit {
	padding-right: 25px;
}

.avi-edit img {
	width: 125px;
	height: 125px;
	object-fit: cover;
}

.avi-edit p {
	color: white;
}

.avi {
    position: absolute;
    margin-left: 580px;
    margin-top: 20px;
}

.avi img {
    border-radius: 50%;
	width: 150px;
	height: 150px;
	object-fit: cover;
}

.avi p {
	color: white;
}

.bio-edit h1 p {
	color: white;
}

.bio-edit p {
	color: #b2b2b2;
}

.bio {
	padding: 1rem;
}

.bio h1 p {
	color: white;
}

.bio p {
	color: #b2b2b2;
}

.user button {
	background-color: #3b6aca;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 12px;
	border-radius: 25px;
}

.recent-fits h2 {
	color: white;
}

.post-images {
	margin: auto auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.rows-edit img {
	vertical-align: middle;
	width: 425px;
	height: auto;
	padding: 1rem;
	margin: 8px;
	filter: grayscale(100%);
}

.rows {
	flex: 25%;
	padding: 0 4px;
	align-items: center;
}

.rows img {
	vertical-align: middle;
	width: 425px;
	height: auto;
	padding: 30px;
	margin: 8px;
}
.stats {
	position: relative;
	display: flex;
	justify-content: center;
	left: 5%;
}

.stats div:nth-of-type(1) {
	padding-right: 3rem;
}

.stats h2 {
	color: white;
	font-size: 20px;
	padding: 10px;
}

.stats p {
	color: white;
}

.recent-fits h1 {
	color: white;
}

.recent-fits {
	margin-top: 100px;
	padding-top: 3rem;
}

.fits img:hover {
	transform: scale(1.1);
	border-radius: 20px;
}

/* search bar */
/*
.search-bar form .search {
	border-color: white;
	color: white;
}

.search-bar form {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 50px;
}

.search-bar form .btn {
	background-color: transparent;
	border-radius: 15px;
	padding: 6px 15px;
	font-size: 16px;
	cursor: pointer;
	margin-left: 8px;
	margin-top: 2px;
}

.search-bar form input {
	width: 70%;
	padding: 0px 20px;
	box-sizing: border-box;
	border-radius: 10px;
	border: none;
	outline: none;
	border-bottom: 1px solid gray;
}

.search-bar input[type="text"] {
	color: black;
	font-size: 20px;
}

.search-bar form .btn:hover {
	background-color: #fff;
}

/* checkbox filter */
.checkbox-list {
	color: white;
	margin: auto auto;
	padding: 0px 50px;
}
.form-check-label {
	padding-right: 15px;
}

/* image gallery homepage */
/*
.img-gallery {
	width: 99%;
	margin: auto auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.image-container {
	display: inline-block;
	margin: 1rem;
	border-radius: 20px 20px 20px 20px;
	width: 100%;
	overflow: hidden;
	display: flex;
}

.like-image img {
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
}

.image-container #imgGall {
	object-fit: cover;
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
}

.image-container:hover {
	transform: scale(1.1);
	border-radius: 20px;
}

.full-img img {
	width: 90%;
	max-width: 500px;
}

/*Post CSS*/
/* Form flexbox */
.post-box {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: auto;
	background-color: black;
	border-radius: 10px;
	color: white;
}

/* Form attributes */
.post-box form {
	width: 250px;
	margin: 20px;
}

.post-box form img {
	display: block;
	height: auto;
	max-width: 100%;
	max-height: 100%;
	margin-bottom: 20px;
	border-radius: 10px;
}

.post-box h1 {
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
	font-size: 1.5rem;
}

.post-box form input {
	width: 80%;
	margin: 20px;
	border: none;
	outline: none;
	border-bottom: 2px solid gray;
	background-color: black;
	caret-color: white;
	color: white;
}

/* Form buttons */
.post-box button {
	width: 90%;
	height: 35px;
	margin-top: 20px;
	border: none;
	background-color: #3b6aca;
	border-radius: 20px;
	margin-bottom: 60px;
	color: white;
	font-size: 20px;
}

.post-box button:hover,
.post-box button:focus,
.post-box button:active {
	background-color: #b2b2b2;
}

/* footer */
footer {
	color: black;
	margin-left: 0;
	margin-bottom: 0;
	padding-left: 25px;
	padding-bottom: 25px;
}

footer a {
	color: black;
	text-decoration: none;
}

footer p {
	margin: 0;
	line-height: 1.25;
}

footer p:last-of-type {
	padding-top: 8px;
}

/* media size changes for homepage */

@media (min-width: 598px) {
	.img-gallery {
		width: 99%;
	}

	.image-container {
		width: 40%;
	}

	.like-image {
		width: 30px;
	}

	/*profile page */
	.recent-fits {
		padding-left: 40px;
	}
	.user {
		margin-left: 0rem;
		margin-top: 2rem;
	}

	.avi-edit {
		margin-left: 2.5rem;
	}

	.rows img {
		margin-left: 5rem;
		align-items: center;
	}

	footer {
		margin-bottom: 0;
		margin-left: 0;
	}
}

@media (min-width: 768px) {
	/* navbar */
	.navbar a {
		font-size: 125%;
	}

	/* Homepage CSS */
	.img-gallery {
		width: 95%;
	}

	.image-container {
		width: 25%;
	}

	/* Profile CSS */
	.recent-fits {
		padding-left: 40px;
	}

	.rows img {
		margin-left: 10rem;
		align-items: center;
	}
	/* Post css*/
	.post-box form {
		width: 380px;
		margin: 20px;
	}

	.post-box button {
		width: 350px;
		height: 35px;
	}
}

@media (min-width: 992px) {
	/* navbar */
	.navbar a {
		font-size: 130%;
	}

	/* Homepage CSS */
	.img-gallery {
		width: 90%;
	}

	.like-image {
		width: 40px;
	}

	/* Profile CSS */
	.recent-fits {
		margin-left: 2rem;
	}

	.rows img {
		margin-left: 2rem;
	}
	/* Post css*/
	.post-box form {
		width: 380px;
		margin: 20px;
	}

	.post-box button {
		width: 350px;
		height: 35px;
	}

	.row {
		padding-right: 40px;
	}
}

@media (min-width: 1200px) {
	/* navbar */
	.navbar a {
		font-size: 130%;
	}

	/* Homepage CSS */
	.img-gallery {
		width: 100%;
	}

	.image-container {
		width: 20%;
	}
	.like-image {
		width: 50px;
	}

	/* Profile CSS */
	.user {
		margin-right: 10rem;
	}

	.recent-fits {
		margin-left: 4rem;
	}

	/* Post css*/
	.post-box form {
		width: 380px;
		margin: 20px;
	}

	.post-box button {
		width: 350px;
		height: 35px;
	}
}